/* Header */
header {
  display: flex;
  background-color: #FBB5BD;
  justify-content: space-between;
  font-display: block; }
  header .navbar navbar-expand-lg navbar-light {
    display: flex;
    background-color: #FBB5BD;
    padding: 10px;
    justify-content: flex-end; }
  header .navbar-light-active-color {
    font-family: "Zilla Slab", serif; }
  header .nav-link {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: "Zilla Slab", serif;
    font-size: 1.5rem;
    margin: 5px; }
    header .nav-link:hover {
      transform: scale(1.1);
      color: white; }
  header .navbar-light .navbar-nav .nav-link.active {
    color: white; }
  header .div__header {
    display: flex;
    margin: 20px; }
    header .div__header .logoGato {
      width: 60%; }
  header .container-fluid {
    display: flex;
    color: white; }
  header .navbar > .container-fluid {
    display: flex;
    justify-content: flex-end; }
  header .navbar-toggler:focus {
    box-shadow: none; }
  header a {
    text-decoration: none;
    color: white;
    font-weight: 500; }
    header a :hover {
      color: white; }
  header li {
    list-style: none; }

footer {
  display: flex;
  flex-direction: column;
  background-color: pink;
  font-family: "Zilla Slab", serif;
  color: white;
  padding-top: 15px; }
  footer .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .info .informacion-contacto {
      display: flex;
      flex-direction: column; }
      footer .info .informacion-contacto .divInfo {
        display: flex;
        flex-direction: row; }
        footer .info .informacion-contacto .divInfo .icono-footer {
          margin: 3px 5px 3px 0px;
          width: 6%;
          height: 50%; }
    footer .info .footerLogo {
      display: flex;
      justify-content: center; }
      footer .info .footerLogo img {
        width: 60%;
        height: 60%; }
    footer .info .horario {
      display: flex;
      flex-direction: column; }
  footer .derechos {
    display: flex;
    justify-content: center; }

* {
  margin: 0px;
  padding: 0px; }

.index__main {
  background-color: #ffe4e8; }
  .index__main h1 {
    font-family: "Caveat Brush", cursive;
    color: white;
    font-size: 2.5rem; }
  .index__main h2 {
    font-family: "Caveat Brush", cursive;
    color: #E57D90;
    font-size: 2.5rem; }
  .index__main h3 {
    font-family: "Caveat Brush", cursive;
    color: #E57D90;
    font-size: 2rem; }
  .index__main h4 {
    font-family: "Zilla Slab", serif;
    color: #E57D90; }
  .index__main h5 {
    font-family: "Zilla Slab", serif;
    color: white; }
  .index__main p {
    font-family: "Zilla Slab", serif;
    text-align: justify;
    color: black; }
  .index__main .carousel {
    display: flex; }
    .index__main .carousel .c-item {
      height: 580px; }
      .index__main .carousel .c-item .c-img {
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6); }
      .index__main .carousel .c-item .carousel-caption .btn-primary {
        background-color: #FBB5BD;
        border-color: #FBB5BD;
        border-radius: 10px;
        margin: 20px 0px 20px 0px; }
  .index__main .bloque1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 50px 40px; }
    .index__main .bloque1 .imagen-patitas-vertical {
      width: 5%; }
    .index__main .bloque1 .texto {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%; }
      .index__main .bloque1 .texto p {
        width: 60%; }
  .index__main .bloque2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px 50px 40px; }
    .index__main .bloque2 .menu {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px; }
      .index__main .bloque2 .menu .opciones-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        margin: 25px; }
        .index__main .bloque2 .menu .opciones-menu .imagenes-menu {
          width: 200px;
          height: 200px;
          margin-bottom: 10px; }
          .index__main .bloque2 .menu .opciones-menu .imagenes-menu:hover {
            transform: scale(1.1); }
    .index__main .bloque2 .boton-reserva .botont {
      background-color: #E57D90;
      border-color: #E57D90;
      color: white;
      padding: 10px 15px 10px 15px;
      border-radius: 10px; }
  .index__main .patas-divisorias {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px; }
    .index__main .patas-divisorias .patas {
      width: 15%; }
  .index__main .bloque3 {
    display: flex;
    flex-direction: column;
    padding: 50px 40px 50px 40px; }
    .index__main .bloque3 .texto-reglas {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .index__main .bloque3 .reglas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .index__main .bloque3 .reglas .regla {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 18%;
        margin: 0px 30px 0px 30px; }
        .index__main .bloque3 .reglas .regla .imagen-regla {
          width: 80%; }
  .index__main .bloque4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px 50px 40px; }
    .index__main .bloque4 .titulo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%; }
      .index__main .bloque4 .titulo p {
        margin: 15px 0px 20px 0px; }
    .index__main .bloque4 .michis {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .index__main .bloque4 .michis .michi-individual {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 40px;
        width: 25%; }
        .index__main .bloque4 .michis .michi-individual .foto-gato {
          width: 85%; }
    .index__main .bloque4 .boton-michi .botont {
      background-color: #E57D90;
      border-color: #E57D90;
      color: white;
      padding: 10px 15px 10px 15px;
      border-radius: 10px; }
