
footer{
    display: flex;
    flex-direction: column;
    font-family: $letra-textos;
    color: $color-letras;
    padding-top: 15px;
    background-image: url('../recursos/imagenes/footer.jpg');
        .info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
            .info-redes{
                display: flex;
                flex-direction: column;
                .informacion-contacto{
                    display: flex;
                    flex-direction: column;
                    .divInfo{
                        display: flex;
                        flex-direction: row;
                        .icono-footer{
                            margin: 3px 5px 3px 0px;
                            width: 6%;
                            height: 50%;
                        }
                    }
                }
                .redes{
                    display: flex;
                    flex-direction: row;
                    .icono-redes{
                        margin: 10px;
                        width: 35px;
                        height: 35px;
                    }
                }
            }
            .footerLogo{
                display: flex;
                justify-content: center;
                img{
                    width: 60%;
                    height: 50%;
                }
            }
            .horario{
                display: flex;
                flex-direction: column;
            }
        }
        .derechos{
            display: flex;
            justify-content: center;
        }
}

@media (min-width: 340px) and (max-width: 720px){
    footer{
        .info{
            display: flex;
            padding: 0px;
            .info-redes{
                width: 40%;
                justify-content: center;
                .informacion-contacto{
                    display: none;
                }
                .redes{
                    .icono-redes {
                        margin: 5px;
                        ;
                    }
                }
            }
            .horario{
                display: none;
            }
            .footerLogo{
                width: 60%;
                img{
                    width: 60%;
                    height: 100%;
                }
            }
        }
        .derechos{
            margin-top: 10px;
        }
    }
}